<div id="topmost-nav-links">
  <ul>
    <li><a href="http://library.brown.edu/borrowing/">Borrow,&nbsp;Request,&nbsp;&amp;&nbsp;Renew</a></li>
    <li><a href="http://library.brown.edu/eresources/">Articles,&nbsp;Journals,&nbsp;&amp;&nbsp;Databases</a></li>
    <li><a href="http://library.brown.edu/about/specialists.php">Research&nbsp;Help</a></li>
    <li><a href="http://library.brown.edu/libweb/hours.php">Hours,&nbsp;Locations,&nbsp;&amp;&nbsp;Events</a></li>
    <li><a href="http://library.brown.edu/libweb/askalib.php">Ask&nbsp;a&nbsp;Question&nbsp;Now</a></li>
    <li><a href="http://library.brown.edu/libweb/proxy.php">Off-Campus&nbsp;Access</a></li>
    <li><a href="https://library.brown.edu/libweb/my_library_account_login.php">My&nbsp;Library&nbsp;Account</a></li>
  </ul>
</div>
