$navbar-inverse-bg: $brown;
$navbar-inverse-link-color: #ddd7d7;
$subnav-inverse-bg: $fawn;
$subnav-inverse-link-color: $brown;
$brand-primary: $red;
$brand-image-lg: "../img/BU-shield+type_501x87.png";
$brand-image-sm: "../img/BU-shield+type_307x87.png";

$font-family-sans-serif: freight-sans-pro, Arial, sans-serif;
//$font-size-base: 15px;
