footer {
  background-color: $navbar-inverse-bg;
  height: 16em;
}
footer li {
  font-size: 91%;
  margin-top: .75em;
  line-height: 190%;
}

footer a:link {
  color: $navbar-inverse-link-color;
  border-bottom: .125em solid #e7b192;
}
footer a:hover {
  color: white;
  border-bottom: .125em solid #dc7c00;
}
footer a:visited {
  color: $navbar-inverse-link-color;
  border-bottom: .125em solid #e7b192;
}

.footcrumbs {
  display: block;
  padding: 0.5625rem 0.875rem 0.5625rem;
  overflow: hidden;
  margin-left: 0;
  list-style: none;
}
.footcrumbs > * {
  margin: 0;
  float: left;
  //color: #ddd7d7;
}
.footcrumbs > *:before {
  content: "|";
  color: #ddd7d7;
  margin: 0 0.75rem;
  position: relative;
  top: 1px;
}
.footcrumbs > *:first-child:before {
  content: " ";
  margin: 0;
}
