{% extends "bootstrap3/bootstrap3.html" %}

{% block bootstrap3_title %}
  {% block title %}Brown Digital Repository | {% block title_detail %}Home{% endblock %}{% endblock title %}
{% endblock %}

{% block bootstrap3_extra_head %}
  <link rel="stylesheet" 
        href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  {% block extra_css %}{% endblock extra_css %}
{% endblock %}

{% block bootstrap3_content %}
  {% with fluid="" %}
  {% include "bul_style/_nav_libnav.html" %}

  <nav id="header-navbar" class="navbar navbar-inverse" role="navigation">
    <div class="container{{fluid}}">
      <div class="navbar-header">
        <button type="button" 
          class="navbar-toggle collapsed" 
          data-toggle="collapse"
          data-target="#subnav-collapse,#search-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand library-brand" href="//library.brown.edu"></a>
      </div>

      {% block navbar-search-form %}
      <form action="{% block navbar-search-url %}#{%endblock%}" 
        method="get"
        class="navbar-form navbar-right collapse navbar-collapse" 
        id="search-collapse"
        accept-charset="UTF-8">

        <div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
          <label for="q" class="sr-only">Enter keywords to search library resources</label>
        <div class="input-group">
          <input type="text"
                 class="form-control" 
                 id="q" 
                 name="q" 
                 placeholder="{% block navbar-search-placeholder %}Search the BDR{% endblock %}">
          <span class="input-group-btn">
            <button type="submit" 
              class="btn btn-primary search-btn" 
              id="search">
              <span class="submit-search-text">Search</span>
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
      {% endblock navbar-search-form %}

    </div>
  </nav>
  {% block subnav %}
  <nav id="subnav" class="navbar navbar-xs" role="navigation">
  <div class="container{{fluid}}">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% block subnav-brand-link %}#{% endblock %}">
        {% block subnav-title %}SubNavbar title{% endblock %}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="subnav-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% block subnav-list %}
          <li><a href="#">SNB1</a></li>
          <li><a href="#">SNB2</a></li>
          <li><a href="#">SNB3</a></li>
          {% endblock %}
        </ul>
      </div>
    </div>
    </nav>
  {% endblock %}

  <div class="container{{fluid}}">
    {% include "bul_style/messages.html" %}
    {% autoescape off %}
      {% include "bootstrap3/messages.html" %}
    {% endautoescape %}
  </div>

<div class="container{{fluid}}">
  {% block pre_intro %}
  {% endblock %}
</div>

<div class="container{{fluid}}">
  <div class="row ">
      <section>
    {% block intro %} 
        <div class="col-md-9">
          {% block intro_main %}
          {% endblock %}
        </div>
        <div class="col-md-3">
          {% block intro_sidebar %}
          {% endblock %}
          </div>
    {% endblock %}
      </section>
  </div>

  <div class="row">
    {% block content %}
      <section>
        <div class="col-md-3">
          {% block content_sidebar %} {% endblock %}
        </div>
        <div class="col-md-9">
          {% block content_main %} {% endblock %}
        </div>
      </section>
    {% endblock %}
  </div>
</div> 

{% block footer %}
  <footer>
      <div class="container">
        <div class="row">
          <ul class="pull-right footcrumbs">
            {% block footer-list %}
            <li>
              <a href="//library.brown.edu">Brown&nbsp;University&nbsp;Library</a>
            </li>
            {% endblock %}
          </ul>
        </div>
      </div>
  </footer>
{% endblock %}
  {% endwith %}
{% endblock %}

{% block bootstrap3_extra_script %}
  {% block extra_js %}
    <script type="text/javascript" charset="utf-8">
    $('#subnav').affix({
        offset: {
          top: 102
        }
    });
    </script>
  {% endblock extra_js %}
{% endblock %}
