<nav id="subnav" class="navbar navbar-xs" role="navigation">
  <div class="container{{fluid}}">
    <div class="navbar-header">
      {% comment %}
      <a class="navbar-brand" href="{% url 'home2' %}">Brown Digital Repository</a>
      {% endcomment %}
      <a class="navbar-brand" href="#">SubNavbar title</a>
    </div>
    <div class="collapse navbar-collapse" id="subnav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">SNB1</a></li>
          <li><a href="#">SNB2</a></li>
          <li><a href="#">SNB3</a></li>
      {% comment %}
          <li>
            <a class="" href="" data-toggle="modal" data-target="#feedbackModal">Feedback</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Discover...</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'browse-collections' %}">Browse Collections</a></li>
              <li><a href="{% url 'deposited-content' %}">Deposited Content</a></li>
              <li><a href="{% url 'dissertation-collections' %}">Theses & Dissertations</a></li>
              <li><a href="{% url 'library-collections' %}">Library Collections</a></li>
              <li><a href="{% url 'recent-items' %}">Recently Added</a></li>
              <li><a href="{% url 'about2' %}">About</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">I Want to...</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'upload2' %}">Upload Something</a></li>
              <li><a href="{% url 'doi_docs' %}">Assign a DOI</a></li>
              <li><a href="//library.brown.edu/dps/">Digitize Something</a></li>
              <li><a href="//library.brown.edu/cds/">Consult on a project</a></li>
              <li><a href="{% url 'api-docs' %}">Use an API</a></li>
              <li><a href="{% url 'faq2' %}">Read FAQs</a></li>
            </ul>
          </li>
      {% endcomment %}
          {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.email}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'upload2' %}">Upload</a></li>
                <li><a href="{% url 'my-deposits' %}">My Deposits</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}?next={{request.build_absolute_uri}}">Logout <i class="fa fa-sign-out"></i></a></li>
              </ul>
            </li>
            {% else %}
            <li>
              <a class="" href="/studio/login/?next={{request.build_absolute_uri}}">
                Login <i class="fa fa-sign-in"></i>
              </a>
            </li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>
